.logo {
	position:relative; 
	top:5px; 
	left:45%; 
	height:70px; 
	width:140px;
	}

@media (max-width: 675px)
{
 .logo {
 	left: 35;
 	top:3px;
	height:60px; 
	width:120px;
 }
}

main .container {
    position: absolute;
    top: 80px;
    left:120px;
    padding-right: 80px;
    } 

@media (max-width: 675px)
{
 main .container {
 	left:10px;
 	padding-right: 10px;
 }
}

@media (max-width: 900px)
{
 main .container {
 	left:70px;
 	padding-right: 40px;
 }
}

.footer {
	padding-top: 10px;
}