body, html{
	margin: 0;
	padding: 0;
	overflow: hidden;
<<<<<<< HEAD
	background-color: black 
=======
}

body {
	background-color: black !important;
	background-image: url(welcome.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
>>>>>>> ea88265eb275a7ce95fee076e1c16d3adcce4a6d
}

section{
	background-color: black !important;
	padding: 10%;
}

.button2{
	margin-top: 30%;
<<<<<<< HEAD
	margin-left: 13%;
=======
	margin-left: 38%;
>>>>>>> ea88265eb275a7ce95fee076e1c16d3adcce4a6d
	border: none;
} 

.button{
	margin-top: 5%;
<<<<<<< HEAD
	margin-left: 13%;
=======
	margin-left: 38%;
>>>>>>> ea88265eb275a7ce95fee076e1c16d3adcce4a6d
	border: none;
} 

.btn-info{
	background-color: rgb(2, 49, 102) !important;
	border: none !important;
}

.btn-info:hover{
	background-color: rgba(0, 38, 70, 0.767) !important
}
.modal-body{
	font-family: sans-serif;
}

.one{
	float: inline-end;
}

.two{
	float: inline-start;
}
